<div class="container mt-5">
  <h1 class="text-center">Restaurants List</h1>
    <ul>
        <li>
      <% @restaurants.each do |restaurant| %>
          <div class="card-product m-3">
            <img src="https://source.unsplash.com/featured/?{restaurant}">
              <h2 class="m-3"><%= restaurant.name %></h2>
              <%= link_to 'Details', restaurant_path(restaurant), class: "btn btn-ghost ml-3" %>
          </div>
        <% end %>
        </li>
      </ul>
</div>
